@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table td {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
table td:first-child {
  font-weight: 600;
}

form {
  width: 250px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
