.student table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 300px;
  margin-bottom: 10px;
}
.student table th,
.student table td {
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.student table th {
  width: 100px;
}
