@import url("https://fonts.googleapis.com/css??family=Roboto:wght@308;488;580;708&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.contianer {
  padding: 20px;
}
